.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  max-width: 1100px;
  margin: 1rem auto;
  color: white;
}

.header_box {
 display: flex;
 flex-direction: column;
 align-items: center;
}

.title {
  font-size: 3.4rem;
  letter-spacing: 21px;
  padding: 3rem 0;
}

.recipe_grid {
  display: grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  list-style: none;
  margin: 0;
  padding: 0;
  gap:1rem;
place-items: center;
}

.recipe_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 12px;
  gap: 10px;
  background-color: #b24d9a9e;
  padding-bottom: 1.5rem;
  max-width: 350px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.recipe_item > img {
  width: -webkit-fill-available;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  object-fit: cover;
}

.recipe_item:hover {
  cursor: pointer;
}

.recipe_title {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-weight: 800;
  margin: auto;
}

@media screen and (max-width: 600px) {
.main {
  padding: 1rem;
}
  .title {
    text-align:  center;
  }
}
