

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  font-size: 3rem;
  letter-spacing: 9px;
  padding-bottom: 3rem;
}

.recipeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px; 
}

.recipeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 5px solid #ccc;
  padding: 16px;
}

.recipeItem:hover {
  cursor: pointer;
}