

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title {
  font-size: 3.4rem;
  letter-spacing: 21px;
  padding-bottom: 3rem;
}

.recipeGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px; 

}

.recipeItem {
  display: flex;
  align-items: center;
  text-align: center;
  border: 5px solid #403d3d;
  border-radius: 12px;
  padding: 16px;
  gap: 10px;
}

.recipeItem:hover {
  cursor: pointer;
}

.recipeTitle {
  padding-top: 0.5rem;
  font-size: 1.3rem;
  letter-spacing: 5px;
  font-weight: 800;
}